<link import="../../bower_components/polymer/polymer-element.html">
<link import="../../bower_components/app-route/app-location.html">
<link import="../../bower_components/app-route/app-route.html">
<link import="../../bower_components/iron-pages/iron-pages.html">
<link import="../../bower_components/iron-ajax/iron-ajax.html">

<link import="../transaction-app/transaction-app.html">
<link rel="import" href="../login-app/login-app.html">
<link rel="import" href="../profile-app/profile-app.html">
<link rel="import" href="../account-app/account-app.html">
<link rel="import" href="../posttransaction-app/posttransaction-app.html">
<link rel="import" href="../addmoney-app/addmoney-app.html">
<link rel="import" href="../getmoney-app/getmoney-app.html">
<link rel="import" href="../createaccount-app/createaccount-app.html">

<dom-module id="index-app" on-dom-change='_handleDomChangeEvent'>

    <template>

        <!-- Bootstrap 3.3.7 -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link 
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
        rel="stylesheet"  type='text/css'>
        <!-- Ionicons -->
        <!-- Ionicons -->
        <!-- Ionicons -->
        <!-- Ionicons -->   

        <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css" crossorigin="anonymous">
        <!-- jvectormap -->
        <link rel="stylesheet" href="../../bower_components/jvectormap/jquery-jvectormap.css" crossorigin="anonymous">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css" crossorigin="anonymous">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css" crossorigin="anonymous">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Google Font -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <style>
            .carousel-inner>.item>img {
                width: 100%;
            }
        </style>



        <span hidden$="[[loginActive]]">
            <login-app on-myevent="processEvent" id="main"></login-app>
        </span>

        <!--<createaccount-app ></createaccount-app>-->
        




        <span hidden$="[[!loginActive]]">
            <div class="wrapper">

                <header class="main-header">

                    <!-- Logo -->
                    <a on-click="_activeIndex" class="logo" href="">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"><b>WSB</b></span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg" href=""><b>WALL STREET</b></span>
                    </a>

                    <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top">
                        <!-- Sidebar toggle button-->
                        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <!-- Navbar Right Menu -->
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <!-- Messages: style can be found in dropdown.less-->
                                <li class="dropdown messages-menu">

                                    <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a on-click="_exit" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="https://cdn2.iconfinder.com/data/icons/user-icon-2-1/100/user_5-15-512.png" class="user-image" alt="User Image">
                                        <span class="hidden-xs">Cerrar sesión de {{nombre}}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="https://cdn2.iconfinder.com/data/icons/user-icon-2-1/100/user_5-15-512.png" class="img-circle" alt="User Image">

                                            <p>
                                                Cerrar sesión de {{nombre}}
                                            </p>
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-right">
                                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                    </nav>
                </header>
                <!-- Left side column. contains the logo and sidebar -->
                <aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">
                        <!-- Sidebar user panel -->
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img src="https://cdn2.iconfinder.com/data/icons/user-icon-2-1/100/user_5-15-512.png" class="img-circle" alt="User Image">
                            </div>
                            <div class="pull-left info">
                                <p>{{nombre}}</p>
                            </div>
                        </div>

                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu" data-widget="tree">
                            <li class="header">Menu</li>
                            <li class="active treeview menu-open">
                                <a href="#">
                                    <i class="fa fa-exchange"></i> <span>Movimientos</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="" on-click="executeGetTransactions"><i
                                                class="fa fa-circle-o"></i>Consultar</a></li>

                                </ul>
                                <ul class="treeview-menu">
                                    <li><a href="" on-click="executeAddMoney">
                                            <i class="fa fa-circle-o"></i>Abonar Saldo</a></li>

                                </ul>

                                <ul class="treeview-menu">
                                    <li><a href="" on-click="executeGetMoney">
                                            <i class="fa fa-circle-o"></i>Disponer Saldo</a></li>

                                </ul>
                                <!--
                                <ul class="treeview-menu">
                                    <li><a href="" on-click="executePostTransaction">
                                            <i class="fa fa-circle-o"></i>Crear</a></li>

                                </ul> -->

                            </li>

                            <li class="active treeview menu-open">
                                <a href="#">
                                    <i class="fa fa-bars"></i> <span>Cuenta</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li on-click="executeGetAccountInformation"><a href=""><i
                                                class="fa fa-circle-o"></i>Informacion de cuenta</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="active treeview menu-open">
                                <a>
                                    <i class="fa fa-bars"></i> <span>Perfil</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li on-click="executeGetProfile"><a href=""><i class="fa fa-circle-o"></i>Datos
                                            Personales</a></li>
                                </ul>
                            </li>

                        </ul>
                    </section>
                    <!-- /.sidebar -->
                </aside>


                <!-- Content Wrapper. Contains page content -->

                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <span hidden$="{{!indexView}}">
                        <section class="content-header">
                            <h1>
                                ¡ Hola <b>{{nombre}}</b>!

                            </h1>

                        </section>
                        <!-- Main content -->
                        <section class="content">
                            <!-- Info boxes -->
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="info-box bg-green">
                                        <span class="info-box-icon"><i class="fa fa-money"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Dolar a la venta</span>
                                            <span class="info-box-number"
                                                style="font-size: 33px">{{currencySell}}</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 100%"></div>
                                            </div>

                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="info-box bg-red">
                                        <span class="info-box-icon"><i class="fa fa-money"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Dolar a la compra</span>
                                            <span class="info-box-number" style="font-size: 33px">{{currencyBuy}}</span>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 100%"></div>
                                            </div>

                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="https://news.efinancialcareers.com/binaries/content/gallery/efinancial-careers/articles/2018/02/Wall-St-USA_Pgiam_GettyImages.jpg"
                                        alt="Smiley face" style="width: 100%;">
                                </div>
                            </div>
                            <!--Carrusel-->
                            <!--       <div class="row">

                            <div class="col-md-12">

                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                    <div class="carousel-inner">
                                        <div class="item">
                                            <img src="https://www.infobae.com/new-resizer/XuGN_LEouQAa8I8OmcyT-LdW1aQ=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/12/03194241/Bolsa-de-valores-M%C3%A9xico-12032018-portada-1.jpg"
                                                alt="First slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>
                                        <div class="item active">
                                            <img src="https://secure.i.telegraph.co.uk/multimedia/archive/02148/wallst_2148692b.jpg"
                                                alt="Second slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="https://www.growproexperience.com/wp-content/uploads/2018/05/Cambio-de-Divisas-a-domicilio-1.jpg"
                                                alt="Third slide">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <span class="fa fa-angle-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic"
                                        data-slide="next">
                                        <span class="fa fa-angle-right"></span>
                                    </a>
                                </div>


                            </div>
                        </div>-->
                            <!--/Carrusel-->

                        </section>
                        <!-- /.content -->
                    </span>

                    <iron-pages selected="[[routeData.resource]]" attr-for-selected="component-name">


                        <div component-name="transaction-app">
                            <section class="content-header">
                                <h1>
                                    Movimientos
                                </h1>
                            </section>
                            <section class="content">
                                <transaction-app on-myevent="processEvent" id="transaction"></transaction-app>
                            </section>
                        </div>


                        <div component-name="profile-app">
                            <section class="content-header">
                                <h1>
                                    Perfil
                                </h1>
                            </section>
                            <section class="content">
                                <profile-app on-myevent="processEvent" id="profile"></profile-app>
                            </section>
                        </div>

                        <div component-name="account-app">
                            <section class="content-header">
                                <h1>
                                    Informacion de cuenta
                                </h1>
                            </section>
                            <section class="content">
                                <account-app on-myevent="processEvent" id="information"></account-app>
                            </section>
                        </div>

                        <div component-name="posttransaction-app">
                            <section class="content-header">
                                <h1>
                                    Crear
                                </h1>
                            </section>
                            <section class="content">
                                <posttransaction-app on-myevent="processEvent" id="main"></posttransaction-app>
                            </section>
                        </div>

                        <div component-name="addmoney-app">
                            <section class="content-header">
                                <h1>
                                    Abonar Saldo
                                </h1>
                            </section>
                            <section class="content">
                                <addmoney-app on-myevent="processEvent" id="main"></addmoney-app>
                            </section>
                        </div>

                        <div component-name="getmoney-app">
                            <section class="content-header">
                                <h1>
                                    Disponer Saldo
                                </h1>
                            </section>
                            <section class="content">
                                <getmoney-app on-myevent="processEvent" id="main"></getmoney-app>
                            </section>
                        </div>


                    </iron-pages>




                </div>




                <!-- /.content-wrapper -->


                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> 2.4.18
                    </div>
                    <strong>Copyright &copy; 2019 <a href="https://instagram.com/bipvadone">Bip Vadone</a>.</strong> All rights
                    reserved.
                </footer>

                <!-- Control Sidebar -->
                <aside class="control-sidebar control-sidebar-dark">
                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Home tab content -->
                        <div class="tab-pane" id="control-sidebar-home-tab">
                            <h3 class="control-sidebar-heading">Recent Activity</h3>
                            <ul class="control-sidebar-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                            <p>Will be 23 on April 24th</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="menu-icon fa fa-user bg-yellow"></i>

                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                            <p>New phone +1(800)555-1234</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                            <p>nora@example.com</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                            <p>Execution time 5 seconds</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.control-sidebar-menu -->

                            <h3 class="control-sidebar-heading">Tasks Progress</h3>
                            <ul class="control-sidebar-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Custom Template Design
                                            <span class="label label-danger pull-right">70%</span>
                                        </h4>

                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Update Resume
                                            <span class="label label-success pull-right">95%</span>
                                        </h4>

                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Laravel Integration
                                            <span class="label label-warning pull-right">50%</span>
                                        </h4>

                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Back End Framework
                                            <span class="label label-primary pull-right">68%</span>
                                        </h4>

                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.control-sidebar-menu -->

                        </div>
                        <!-- /.tab-pane -->

                        <!-- Settings tab content -->
                        <div class="tab-pane" id="control-sidebar-settings-tab">
                            <form method="post">
                                <h3 class="control-sidebar-heading">General Settings</h3>

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Report panel usage
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>

                                    <p>
                                        Some information about this general settings option
                                    </p>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Allow mail redirect
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>

                                    <p>
                                        Other sets of options are available
                                    </p>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Expose author name in posts
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>

                                    <p>
                                        Allow the user to show his name in blog posts
                                    </p>
                                </div>
                                <!-- /.form-group -->

                                <h3 class="control-sidebar-heading">Chat Settings</h3>

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Show me as online
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Turn off notifications
                                        <input type="checkbox" class="pull-right">
                                    </label>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Delete chat history
                                        <a href="javascript:void(0)" class="text-red pull-right"><i
                                                class="fa fa-trash-o"></i></a>
                                    </label>
                                </div>
                                <!-- /.form-group -->
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                </aside>
                <!-- /.control-sidebar -->
                <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>

            </div>
        </span>






       <!-- <iron-ajax id="getAccount" url="http://13.59.199.173:3009/getClient" handle-as="json" headers={{headers}}
            on-response="responseGetClient">
        </iron-ajax>

        <iron-ajax auto id="getCurrencyExchange" url="http://13.59.199.173:3009/getCurrencyExchangeRate" handle-as="json"
            on-response="responseGetCurrencyExchange">
        </iron-ajax>-->


                <iron-ajax id="getAccount" url="http://13.59.199.173:3009/getClient" handle-as="json" headers={{headers}}
            on-response="responseGetClient">
        </iron-ajax>

        <iron-ajax auto id="getCurrencyExchange" url="http://13.59.199.173:3009/getCurrencyExchangeRate" handle-as="json"
            on-response="responseGetCurrencyExchange">
        </iron-ajax>

        




        <app-location route="{{route}}"></app-location>
        <app-route route="{{route}}" pattern="/:resource" data="{{routeData}}"></app-route>
        <app-route route="{{route}}" pattern="/:resource/:id" data="{{routeData}}"></app-route>


    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class IndexApp extends Polymer.Element {
            static get is() {
                //alert(window.location.pathname)
                //alert(window.location.href)

                var accountapp = "account-app"
                var createaccount = "createaccount-app"
                var index = "index-app"
                var login = "login-app"
                var posttransaction = "posttransaction-app"
                var profile = "profile-app"
                var transaction = "transaction-app"

                if (sessionStorage.getItem("controlPage")) {
                    sessionStorage.removeItem("indexView")
                    //    alert("Is in")
                }

                var url1 = window.location.origin + "/"
                var url2 = window.location.origin + "/index.html"
                var url3 = window.location.origin + "/index-app"

                /*
                                console.log("window.location.href "+window.location.href)
                                console.log("window.location.pathname "+window.location.pathname)
                                console.log("url1 "+url1)
                                console.log("url2 "+url2)
                                console.log("url3 "+url3)
                                console.log("accountapp "+accountapp)
                                console.log("createaccount "+createaccount)
                                console.log("index "+index )
                                console.log("login "+login)
                                console.log("posttransaction "+posttransaction)
                                console.log("profile "+profile)
                                console.log("transaction "+transaction)
                */



                if (window.location.href == url1 ||
                    window.location.href == url2 ||
                    window.location.href == url3
                ) {

                    //  alert("Accede a la vista del index "+window.location.pathname)
                    sessionStorage.setItem("indexView", true)

                }

                return 'index-app';
            }

            static get properties() {
                return {
                    nombre: {
                        type: String,
                        value: sessionStorage.getItem("nombre")
                    },
                    route: {
                        type: Object
                    },
                    routeData: {
                        type: Object
                    },
                    indexView: {
                        type: Boolean,
                        value: sessionStorage.getItem("indexView")
                    },
                    loginActive: {

                        type: Boolean,
                        value: sessionStorage.getItem("login")
                    },
                    idClient: {
                        type: String
                    },
                    headers: {
                        type: Object,
                        value: {
                            tel_numero: {
                                type: String
                            }
                        }
                    },
                    currencySell:
                    {
                        type: String
                    },
                    currencyBuy:
                    {
                        type: String
                    }
                };
            }



            processEvent(e) {
                //  console.log("Dato")

                if (this.routeData.resource == "index-app") {
                    this.loginActive = true
                    this.indexView = true
                    this.headers.tel_numero = e.detail.idUser
                    sessionStorage.setItem("tel",e.detail.idUser)
                    this.$.getAccount.generateRequest();


                }
                if (this.routeData.resource == "transaction-app") {

                    this.$.transaction.executeGetTransactions();
                }







            }

            _activeIndex() {


                this.set('route.path', '/index-app');
                this.indexView = true
                sessionStorage.setItem("indexView", true)
                sessionStorage.removeItem("controlPage")
            }

            _exit() {

                this.loginActive = false
                sessionStorage.removeItem("login")
                sessionStorage.removeItem("nombre")
                sessionStorage.removeItem("controlPage")
                sessionStorage.removeItem("numcliente")
                sessionStorage.removeItem("token")
                sessionStorage.removeItem("tel_numero")
                sessionStorage.removeItem("tel")
                this.set('route.path', '/login-app');

            }

            executeGetTransactions() {


                this.$.transaction.executeGetTransactions();
                this.indexView = false
                sessionStorage.removeItem("indexView")
                sessionStorage.setItem("controlPage", true)
                this.set('route.path', '/transaction-app');
            }
            executeGetProfile() {
                this.$.profile.getInformation();
                this.indexView = false
                sessionStorage.removeItem("indexView")
                sessionStorage.setItem("controlPage", true)
                this.set('route.path', '/profile-app');
            }
            executeGetAccountInformation() {

                this.$.information.getInformation();
                
                this.indexView = false
                sessionStorage.removeItem("indexView")
                sessionStorage.setItem("controlPage", true)
                this.set('route.path', '/account-app');

              
            }
            executePostTransaction() {
                this.indexView = false
                sessionStorage.removeItem("indexView")
                sessionStorage.setItem("controlPage", true)
                this.set('route.path', '/posttransaction-app');
            }

            executeAddMoney() {
                this.indexView = false
                sessionStorage.removeItem("indexView")
                sessionStorage.setItem("controlPage", true)
                this.set('route.path', '/addmoney-app');
                
            }



            executeGetMoney() {
                this.indexView = false

                sessionStorage.removeItem("indexView")
                sessionStorage.setItem("controlPage", true)

                this.set('route.path', '/getmoney-app');
            }


            responseGetClient(data) {



                this.nombre = data.detail.response[0].persona.nombre
                sessionStorage.setItem("nombre", data.detail.response[0].persona.nombre)

                // this.$.transaction.headers.numcliente=data.detail.response[0]._id
                sessionStorage.setItem("numcliente", data.detail.response[0]._id)

                console.log(data.detail.response[0])


            }
            responseGetCurrencyExchange(data) {
                //Metodo que solicita informacion de BANXICO
                this.currencySell = data.detail.response.bmx.series[0].datos[0].dato
                this.currencyBuy = data.detail.response.bmx.series[1].datos[0].dato

            }


            _handleDomChangeEvent() {
                // alert("dato")
            }


        }





        window.customElements.define(IndexApp.is, IndexApp);
    </script>




</dom-module>