<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">



<dom-module id="getmoney-app">
    <template>

        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

        <!-- Google Font -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">




        <app-location route="{{route}}"></app-location>

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Cantidad</label>

                        <div class="col-sm-10">
                            <input type="number" value="{{money::input}}" class="form-control" min="0" max="1000000"
                                id="inputEmail3" placeholder="Cantidad">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" on-click="getMoney" class="btn btn-info pull-right">Retirar</button>
                </div>
                <!-- /.box-footer -->

            </div>

        </div>


       <!-- <iron-ajax id="getMoney" method="PUT" url="http://13.59.199.173:3009/getmoney" on-response="responseGetMoney"
            headers='{{headers}}' on-error="error">
        </iron-ajax>-->

               <iron-ajax id="getMoney" method="PUT" url="http://13.59.199.173:3009/getmoney" on-response="responseGetMoney"
            headers='{{headers}}' on-error="error">
        </iron-ajax>

        
    </template>


    <script src="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.js"></script>
    <link rel="stylesheet" href="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.css">

    <script>
        /**
         * @customElement
         * @polymerk
         */
        class GetMoneyApp extends Polymer.Element {
            static get is() { return 'getmoney-app'; }
            static get properties() {
                return {
                    dato: {
                        type: String,
                        value: "dato"

                    },
                    account: {
                        type: String,
                        value: sessionStorage.getItem("numcliente")
                    },
                    money: {
                        type: Number

                    },
                    headers: {
                        type: Object,
                        value: {
                            numclient: {
                                type: String
                            },
                            money: {
                                type: String
                            },
                            transactiontype: {
                                type: String
                            }
                        }
                    }
                };
            }


            responseGetMoney(data) {

                var answer = data.detail.response.message;

                if (!answer.includes("ERROR")) {

                    swal("Saldo retirado", "¡Felicidades, tu saldo de " + this.money + " pesos ha sido retirado correctamente.", "success")
                    this.money = null;
                }
                else {
                    swal("Vaya, esto no me lo esperaba", "Al parecer estas tratando de retirar mas de lo que actualmente tienes en tu cuenta. Verifica e intenta nuevamente", "warning")
                    this.money = null;
                }


            }
            error() {
                swal("Ooops!", "Vaya! Hubo un error, vuelve a intentar nuevamente.", "error")
                console.log("error")
            }


            getMoney() {

                if (this.money > 0) {
                    this.headers.numclient = sessionStorage.getItem("numcliente")
                    this.headers.money = this.money
                    this.headers.transactiontype = "Retiro"
                    this.$.getMoney.generateRequest();
                }
                else {
                    swal("Ooohh Geez!", "Al parecer estas poniendo una cantidad inferior a 0. Verifica la cantidad y vuelve a intentarlo.", "error")
                }

            };


        }




        window.customElements.define(GetMoneyApp.is, GetMoneyApp);

    </script>
</dom-module>