<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../master-page/master-page.html">
<link rel="import" href="../createaccount-app/createaccount-app.html">


<dom-module id="login-app">



    <template>



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.css">


        <!-- Bootstrap 3.3.7 -->

        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="../../bower_components/jvectormap/jquery-jvectormap.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Google Font -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <style>
            .carousel-inner>.item>img {
                width: 100%;
            }
        </style>


        <style type="text/css">
            body {
                color: #fff;
                background: #d47677;
            }

            .form-control {
                min-height: 41px;
                background: #fff;
                box-shadow: none !important;
                border-color: #e3e3e3;
            }

            .form-control:focus {
                border-color: #70c5c0;
            }

            .form-control,
            .btn {
                border-radius: 2px;
            }

            .login-form {
                width: 350px;
                margin: 0 auto;
                padding: 100px 0 30px;
            }

            .login-form form {
                color: #7a7a7a;
                border-radius: 2px;
                margin-bottom: 15px;
                font-size: 13px;
                background: #ececec;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
                position: relative;
            }

            .login-form h2 {
                font-size: 22px;
                margin: 35px 0 25px;
            }

            .login-form .avatar {
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -50px;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                z-index: 9;
                background: #172ed9;
                padding: 15px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            }

            .login-form .avatar img {
                width: 100%;
            }

            .login-form input[type="checkbox"] {
                margin-top: 2px;
            }

            .login-form .btn {
                font-size: 16px;
                font-weight: bold;
                background: #172ed9;
                border: none;
                margin-bottom: 20px;
            }

            .login-form .btn:hover,
            .login-form .btn:focus {
                background: #3d6df4;
                outline: none !important;
            }

            .login-form a {
                color: #fff;
                text-decoration: underline;
            }

            .login-form a:hover {
                text-decoration: none;
            }

            .login-form form a {
                color: #7a7a7a;
                text-decoration: none;
            }

            .login-form form a:hover {
                text-decoration: underline;
            }
        </style>


        <span hidden$="[[newUserActive]]">
            <div class="login-form">
                <form>
                    <div class="avatar">
                        <img src="https://www.tutorialrepublic.com/examples/images/avatar.png" alt="Avatar">
                    </div>
                    <h2 class="text-center">Wall Street Bank</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{phone::input}}" placeholder="Teléfono">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" value="{{password::input}}" name="password"
                            placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="button" value="Entrar" on-click="login"
                            class="btn btn-primary btn-lg btn-block"></input>
                    </div>
                </form>
              <h4 aling="center"> <a class="text-center small"  href="" on-click="createAccount" >Crear nueva cuenta</a></h4> 
            </div>
        </span>



        <span hidden$="[[!newUserActive]]" aling="center">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-sm-3" aling="center"></div>
                    <div class="col-sm-2" aling="center"></div>
                    <div class="col-sm-3" aling="center">

                        <a class="btn btn-app" style="margin-left: 16%;" on-click="return">
                            <i class="fa fa-arrow-circle-o-left"></i> Regresar
                        </a>


                    </div>
                    <div class="col-sm-3" aling="center"></div>
                </div>
            </div>


            <createaccount-app on-myevent="processEvent" id="main"></createaccount-app>
        </span>



        <!--<iron-ajax id="doLogin" url="http://13.59.199.173:3009/login" content-type="application/json" method="POST"
            headers={{headers}} on-response="successLogin" on-error="errorLogin">
        </iron-ajax>-->

                <iron-ajax id="doLogin" url="http://13.59.199.173:3009/login" content-type="application/json" method="POST"
            headers={{headers}} on-response="successLogin" on-error="errorLogin">
        </iron-ajax>

        


        <app-location route="{{route}}"></app-location>
        <app-route route="{{route}}" pattern="/:resource" data="{{routeData}}"></app-route>




    </template>

    <script src="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.js"></script>
    <link rel="stylesheet" href="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.css">
    <script>
        /**
         * @customElement
         * @polymer
         */
        class LoginApp extends Polymer.Element {
            static get is() { return 'login-app'; }

            static get properties() {
                return {
                    newUserActive: {
                        type: Boolean,
                        value: false
                    },
                    phone: {
                        type: String
                    },
                    password: {
                        type: String
                    },
                    route: {
                        type: Object
                    },
                    headers: {
                        type: Object,
                        value: {
                            user: {
                                type: String
                            },
                            password: {
                                type: String
                            }
                        }
                    }
                };
            };



            login() {

                if (this.phone != null && this.password != null) {
                    var loginData = {
                        "user": this.email,
                        "password": this.password
                    }
                    this.headers.user = this.phone
                    this.headers.password = this.password

                    this.$.doLogin.body = JSON.stringify(loginData);
                    this.$.doLogin.generateRequest();
                }
                else {
                    swal("Ooops!", "Al parecer faltan datos. Verifica y vuelve a intentar", "error")
                }



            };



            successLogin() {



                this.set('route.path', '/index-app')
                sessionStorage.setItem("login", true)
                sessionStorage.setItem("indexView", true)

                this.dispatchEvent(
                    new CustomEvent(
                        "myevent",
                        {
                            "detail": {
                                "idUser": this.phone
                            }
                        }
                    )
                )
                this.phone = ""
                this.password = ""

            }
            errorLogin() {

                swal("Ooops!", "Usuario y/o contraseña incorrectos, verifica y vuelve a intentar", "error")


            }

            createAccount() {
                // sessionStorage.setItem("login", true)
                this.newUserActive = true;
                //   this.set('route.path', '/createaccount-app')
            }

            return() {
                //alert("excecute method")
                this.newUserActive = false;

            }



        }
        window.customElements.define(LoginApp.is, LoginApp);
    </script>


</dom-module>