<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">



<dom-module id="profile-app">
  <template>
    <app-location route="{{route}}"></app-location>


    <!-- Bootstrap 3.3.7 -->

    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="../../bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
      .carousel-inner>.item>img {
        width: 100%;
      }
    </style>


    <!-- Main content -->
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-user"></i> {{nombre}}
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
          <address>
            <b>Email: </b> {{correoelectronico}}<br>
            <b>CURP: </b> {{curp}}<br>
            <b>Fecha de Nacimiento: </b>{{fechanacimiento}}<br>
            <b>Telefono: </b> {{telefono}}<br>
            <b>RFC: </b> {{rfc}}
          </address>
        </div>
        <!-- /.col -->



        <!-- /.col -->
        <div class="col-sm-6 invoice-col">
          <b>Calle: </b> {{calle}}<br>
          <b>Codigo Postal: </b>  {{cod_post}}<br>
          <b>Colonia: </b>{{colonia}}<br>
          <b>Numero Externo: </b> {{numext}}<br>
          <b>Numero Interno: </b> {{numint}}
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



    </section>
    <!-- /.content -->




    <!--<iron-ajax auto id="getClient" 
    url="http://13.59.199.173:3009/getClientInformation" handle-as="json" 
    headers$='{"numclient":"{{numclient}}"}'
      on-response="responseGetClient">
    </iron-ajax>-->


    <iron-ajax auto id="getClient" 
    url="http://13.59.199.173:3009/getClientInformation" handle-as="json" 
    headers$='{"numclient":"{{numclient}}"}'
      on-response="responseGetClient">
    </iron-ajax>


    



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ProfileApp extends Polymer.Element {
      static get is() { return 'profile-app'; }
      static get properties() {
        return {

          nombre: {
            type: String
          },

          numclient: {
                type: String,
                value:sessionStorage.getItem("numcliente")
              },
          correoelectronico:{
            type:String
          },
          curp:
          {
            type:String
          },
          fechanacimiento:{
            type:String
          },
          telefono:{
            type:String
          },
          rfc:{
            type:String
          },
          calle:{
            type:String
          },
          cod_pais:{
            type:String
          },
          cod_post:{
            type:String
          },
          colonia:{
            type:String
          },
          numext:{
            type:String
          },
          numint:{
            type:String
          }
        };
      }


      getInformation() {

        this.numclient = sessionStorage.getItem("numcliente")





        // this.headers.tel_numero=sessionStorage.getItem("tel")
        this.$.getClient.generateRequest();

      }

      responseGetClient(data) {


        this.nombre = data.detail.response[0].persona.nombre + " " + data.detail.response[0].persona.apellido_paterno + " " + data.detail.response[0].persona.apellido_materno
       
        this.correoelectronico=data.detail.response[0].persona.correo_electronico
        this.curp=data.detail.response[0].persona.curp
        this.fechanacimiento=data.detail.response[0].persona.fecha_de_nacimiento
        this.telefono=data.detail.response[0].persona.tel_numero
        this.rfc=data.detail.response[0].persona.rfc


        this.calle=data.detail.response[0].direccionLegal.calle
        this.cod_post=data.detail.response[0].direccionLegal.cod_post
        this.colonia=data.detail.response[0].direccionLegal.colonia
        this.numext=data.detail.response[0].direccionLegal.nu_Ext
        this.numint=data.detail.response[0].direccionLegal.nu_Int
        
       
       


        console.log(data.detail.response[0])
        // console.log(sessionStorage.getItem("numcliente"))

      }


    }




    window.customElements.define(ProfileApp.is, ProfileApp);
  </script>
</dom-module>