<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">





<dom-module id="main-app">




  <template>
<!--
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:resource" data="{{routeData}}">
    </app-route>

    <app-route route="{{route}}" pattern="/:resource/:id" data="{{routeData}}">
    </app-route>
  -->





    <iron-pages selected="[[routeData.resource]]" attr-for-selected="component-name">

     


      <div component-name="transaction-app">
        <transaction-app on-myevent="processEvent" id="transaction"></transaction-app>
      </div>


    </iron-pages>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MainApp extends Polymer.Element {
      static get is() {


        console.log("ENTRA AQUI")
        return 'main-app';
      }




      static get properties() {
        return {
          logeado: {
            type: Boolean,
            value: false
          },
          ingresar: {
            type: Boolean,
            value: false
          },
          ingresado: {
            type: Boolean,
            value: true
          },
          route: {
            type: Object
          },
          routeData: {
            type: Object
          }
        };
      }

      executeLogin() {
        //this.resolveUrl("js/Broadway/Decoder.js")

     ///   this.set('route.path', '/login-app');
      }
    }
    window.customElements.define(MainApp.is, MainApp);
  </script>

  
</dom-module>