<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">


<dom-module id="login-app">




  <template>
    <app-location route="{{route}}"></app-location>

    <iron-ajax id="doLogin" url="http://localhost:3009/login" content-type="application/json" method="POST"
      on-response="manageAJAXResponse" on-error="showError">
    </iron-ajax>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>


    </style>


    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <div class="form-signin">

                <div class="form-label-group">
                  <input type="phone" id="inputEmail" value="{{phone::input}}" class="form-control" placeholder="Phone"
                    required autofocus>
                  <label for="inputPhone">Phone</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="inputPassword" value="{{password::input}}" class="form-control"
                    placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                </div>


                <button class="btn btn-lg btn-primary btn-block text-uppercase" on-click="login">Sign in</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }

      static get properties() {
        return {
          phone: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          route: {
            type: Object
          }
        };
      }
      //end properties 

      login() {

        var loginData = {
          "user": this.email,
          "password": this.password
        }

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

      }




      mostrarError() {
        console.log(error);
        this.logado = false;
      }


    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>