<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">



<dom-module id="account-app">
  <template>
    <app-location route="{{route}}"></app-location>


    <!-- Bootstrap 3.3.7 -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link 
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
    rel="stylesheet"  type='text/css'>
    <!-- Ionicons -->
    <!-- Ionicons -->
    <!-- Ionicons -->
    <!-- Ionicons -->   

    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="../../bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
      .carousel-inner>.item>img {
        width: 100%;
      }
    </style>


    <!-- Main content -->
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-bank"></i> Información de cuenta
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          Cuenta
          <address>
            <strong>{{account}}</strong><br>
            Wall Street Bank<br>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          Alias
          <address>
            <strong>{{alias}}</strong><br>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>No. Cliente: </b> {{cliente}}<br>
          <b>Saldo Actual: </b> $ {{saldo}}<br>
          <b>Clabe: </b>{{clabe}}<br>
          <b>Contrato: </b> {{contrato}}
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



    </section>
    <!-- /.content -->






    <!--<iron-ajax auto id="getAccount" url="http://13.59.199.173:3009/getAccount" handle-as="json"
      headers$='{"numclient":"{{numclient}}"}' on-response="responseGetAccount" on-error="error">
    </iron-ajax>



    <iron-ajax auto id="getClient" url="http://13.59.199.173:3009/getClient" handle-as="json"
      headers$='{"tel_numero":"{{tel_numero}}"}' on-response="responseGetClient">
    </iron-ajax>
-->


<iron-ajax auto id="getAccount" url="http://13.59.199.173:3009/getAccount" handle-as="json"
      headers$='{"numclient":"{{numclient}}"}' on-response="responseGetAccount" on-error="error">
    </iron-ajax>



    <iron-ajax auto id="getClient" url="http://13.59.199.173:3009/getClient" handle-as="json"
      headers$='{"tel_numero":"{{tel_numero}}"}' on-response="responseGetClient">
    </iron-ajax>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AccountApp extends Polymer.Element {
      static get is() { return 'account-app'; }
      static get properties() {
        return {

          headers: {
            type: Object,
            value: {
              account: {
                type: String
              },
              alias: {
                type: String
              },
              banco: {
                type: String
              },
              saldo: {
                type: String
              },
              clabe: {
                type: String
              },
              contrato: {
                type: String
              },
              cliente: {
                type: String
              }

            }
          },
          numclient: {
            type: String,
            value:sessionStorage.getItem("numcliente")

          },
          tel_numero: {
            type: String,
            value:sessionStorage.getItem("tel")
          },


        };
      }


      getInformation() {

        this.numclient = sessionStorage.getItem("numcliente")
        this.tel_numero = sessionStorage.getItem("tel")


        this.$.getClient.generateRequest();
        this.$.getAccount.generateRequest();
      }

      responseGetAccount(data) {
      //  console.log(data.detail.response[0])

        this.alias = data.detail.response[0].alias
        this.saldo = data.detail.response[0].money
        this.account = data.detail.response[0].account_number
        this.cliente = data.detail.response[0]._id
        this.clabe = data.detail.response[0].clabe_number
      //  console.log(data.detail.response[0].account_number)
      //  console.log("responseGetAccount")
      }

      responseGetClient(data) {
        this.contrato = data.detail.response[0].contract[0].accountIndex_long
      //  console.log(data.detail.response)
      //  console.log(sessionStorage.getItem("numcliente"))
      //  console.log("responseGetClient")

      }




      error() {
        console.log("Error")
      }





    }




    window.customElements.define(AccountApp.is, AccountApp);
  </script>
</dom-module>