<link import="../../bower_components/polymer/polymer-element.html">
<link import="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link import="../../bower_components/app-route/app-location.html">
<link import="../../bower_components/app-route/app-route.html">
<link import="../../bower_components/iron-ajax/iron-ajax.html">
<link import="../../bower_components/polymer/lib/elements/dom-if.html">
<link import="../../bower_components/polymer//lib/elements/dom-bind.html">


<link href = "../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">  
<link href = "../../bower_components/paper-item/paper-item.html">  
<link href = "../../bower_components/paper-listbox/paper-listbox.html">  





<dom-module id="transaction-app">

   <template>
      <!--<template is="dom-if" if="{{doRefresh}}" restamp="true" >-->
      <app-location route="{{route}}"></app-location>

      <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      -->


      <!-- Bootstrap 3.3.7 -->

      <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
      <!-- Ionicons -->
      <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
      <!-- jvectormap -->
      <link rel="stylesheet" href="../../bower_components/jvectormap/jquery-jvectormap.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
      <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
      <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      <!-- Google Font -->
      <link rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
      <style>
         .carousel-inner>.item>img {
            width: 100%;
         }
      </style>







      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="info-box bg-aqua" >
               <span class="info-box-icon" ><i class="fa fa-dollar"
                     ></i></span>

               <div class="info-box-content">
                  <span class="info-box-text" >Saldo</span>
                  <span class="info-box-number" style="font-size: 33px">{{money}}</span>

                  <div class="progress">
                     <div class="progress-bar" style="width: 100%"></div>
                  </div>

               </div>
               <!-- /.info-box-content -->
            </div>
         </div>

         <!-- /.FILTRO   -->



      </div>






      <table class="table table-bordered table-striped dataTable">
         <thead>
            <tr>
               <th scope="col">Codigo de Referencia</th>
               <th scope="col">Fecha</th>
               <th scope="col">Importe</th>
               <th scope="col">Tipo de movimiento</th>
            </tr>
         </thead>
         <tbody>
            <template is="dom-repeat" items="{{ajaxResponse}}">
               <tr>

                  <td>[[item.codigo_referencia]]</td>
                  <td>[[item.fecha_transaccion]]</td>
                  <td>[[item.importe]]</td>
                  <td>[[item.tipo_transaccion]]</td>

               </tr>
            </template>
         </tbody>
      </table>






    <!--  <iron-ajax auto id="getTransactions" url="http://13.59.199.173:3009/getTransactions" handle-as="json"
         headers$='{"numcliente": "{{dato}}" }' last-response="{{ajaxResponse}}" on-response="loadData"
         on-error="error">
      </iron-ajax>


      <iron-ajax auto id="getAccount" url="http://13.59.199.173:3009/getAccount" handle-as="json"
         headers$='{"numclient": "{{dato}}" }' on-response="loadAccount" on-error="error">
      </iron-ajax>-->


    <iron-ajax auto id="getTransactions" url="http://13.59.199.173:3009/getTransactions" handle-as="json"
         headers$='{"numcliente": "{{dato}}" }' last-response="{{ajaxResponse}}" on-response="loadData"
         on-error="error">
      </iron-ajax>


      <iron-ajax auto id="getAccount" url="http://13.59.199.173:3009/getAccount" handle-as="json"
         headers$='{"numclient": "{{dato}}" }' on-response="loadAccount" on-error="error">
      </iron-ajax>


      

   </template>

   <script>
      /**
       * @customElement
       * @polymer
       */
      class TransactionApp extends Polymer.Element {
         static get is() {
            //  alert("numero de cuenta antes de cargar pagina: " + sessionStorage.getItem("numcliente"))

            return 'transaction-app';
         }
         static get properties() {



            return {
               dato: {
                  type: String,
                  value: sessionStorage.getItem("numcliente")
               },
               money:
               {
                  type: String
               }

            }
         };


         filtro() {

           var x = document.getElementById("selector").value
            
           alert("pagina "+x)
            
         }




         executeGetTransactions() {
            // console.log("isIN")
            // console.log("dato en executeGetTrnsactions" + sessionStorage.getItem("numcliente"))
            // console.log("dato de propiedad " + this.dato)
            this.dato = sessionStorage.getItem("numcliente")
            // this.headers.numcliente = sessionStorage.getItem("numcliente");
            // this.dato="AAA00051"
            this.$.getAccount.generateRequest();
            this.$.getTransactions.generateRequest();

         }

         loadData(data) {

            //  console.log("propiedad1 " + this.headers.numcliente)
            //2 console.log("propiedad2 "+this.headers.numcliente.value)
            //console.log("numero de cuenta " + sessionStorage.getItem("numcliente"))

            // alert("propiedad "+this.headers.numcliente.value)
            // alert("numero de cuenta "+sessionStorage.getItem("numcliente"))

            //this.numcliente = localStorage.getItem("tel_numero");
            //console.log(data.detail.response)
            //console.log("cliente "+this.headers.numcliente);

            //    this.transactions =JSON.parse(data.detail.response[0]); 
            //  console.log(data.detail.response);



            sessionStorage.setItem("lodaData", false)
         }
         error() {


            //alert("error")


         }

         loadAccount(data) {
            //alert("Execute")


            //console.log(data.detail.response[0].money)

            this.money = data.detail.response[0].money
         }




      }

      window.customElements.define(TransactionApp.is, TransactionApp);
   </script>


   <script>

      function getvalue() {

         // document.getElementById("demo").innerHTML = x;

         alert(document.getElementById("selector").value)

         // return document.getElementById("selector").value;

      }



   </script>


</dom-module>