<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">


<dom-module id="createaccount-app">
   <template>
      <app-location route="{{route}}"></app-location>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


      <style>


      </style>


      <div class="container">
         <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
               <div class="card card-signin my-5">
                  <div class="card-body">
                     <h5 class="card-title text-center">Registro</h5>
                     <div class="form-signin">


                        <!--Inserta datos -->
                        <!--##########PERSONA##########-->
                        <div class="form-label-group">
                           <label for="inputAP">Apellido Paterno <a style="color:red">*</a> </label>
                           <input required type="text" id="inputAP" value="{{apellidoPaterno::input}}"
                              class="form-control" placeholder="Apellido Paterno" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputAM">Apellido Materno <a style="color:red">*</a></label>
                           <input required type="text" id="inputAM" value="{{apellidoMaterno::input}}"
                              class="form-control" placeholder="Apellido Materno" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputNombre">Nombre <a style="color:red">*</a></label>
                           <input required type="text" id="inputNombre" value="{{nombre::input}}" class="form-control"
                              placeholder="Nombre" autofocus>

                        </div>
                        <div class="form-label-group">
                           <label for="inputCurp">CURP <a style="color:red">*</a></label>
                           <input required type="text" id="inputCurp" value="{{curp::input}}" class="form-control"
                              placeholder="CURP" autofocus>

                        </div>
                        <div class="form-label-group">
                           <label for="inputRFC">RFC</label>
                           <input type="text" id="inputRFC" value="{{rfc::input}}" class="form-control"
                              placeholder="RFC" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputFNacimiento">Fecha de Nacimiento <a style="color:red">*</a></label>
                           <input required type="date" id="inputFNacimiento" value="{{fechaNacimiento::input}}"
                              class="form-control" placeholder="Fecha de nacimiento" autofocus>

                        </div>


                        <div class="form-label-group">
                           <label for="inputEmail">Correo Electronico <a style="color:red">*</a></label>
                           <input required type="email" id="inputEmail" value="{{correoElectronico::input}}"
                              class="form-control" placeholder="Correo Electronico" autofocus>

                        </div>
                        <!--####################-->

                        <!--###########DIRECCION LEGAL#########-->
                        <div class="form-label-group">
                           <label for="inputCalle">Calle <a style="color:red">*</a></label>
                           <input required type="text" id="inputCalle" value="{{calle::input}}" class="form-control"
                              placeholder="Calle" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputColonia">Colonia <a style="color:red">*</a></label>
                           <input required type="text" id="inputColonia" value="{{colonia::input}}" class="form-control"
                              placeholder="Colonia" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputNumExt">Numero Externo <a style="color:red">*</a></label>
                           <input required type="number" id="inputNumExt" value="{{numeroExterno::input}}"
                              class="form-control" placeholder="Numero Externo" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputNumInt">Numero Interno</label>
                           <input required type="number" id="inputNumInt" value="{{numeroInterno::input}}"
                              class="form-control" placeholder="Numero Interno" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputMunicipio">Municipio</label>
                           <input required type="text" id="inputMunicipio" value="{{municipio::input}}"
                              class="form-control" placeholder="Municipio" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputEstado">Estado</label>
                           <input required type="text" id="inputEstado" value="{{estado::input}}" class="form-control"
                              placeholder="Estado" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputCP">Codigo Postal</label>
                           <input required type="text" id="inputCp" value="{{cp::input}}" class="form-control"
                              placeholder="CP" autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputPais">Pais</label>
                           <input required type="text" id="inputPais" value="{{pais::input}}" class="form-control"
                              placeholder="Pais" autofocus>

                        </div>

                        <!--###########DIRECCION LEGAL#########-->

                        <!--####################-->
                        <div class="form-label-group">
                           <label for="inputPhone">Teléfono <a style="color:red">*</a></label>
                           <input required type="number" id="inputPhone" value="{{phone::input}}" class="form-control"
                              placeholder="Teléfono" required autofocus>

                        </div>

                        <div class="form-label-group">
                           <label for="inputPassword">Contraseña <a style="color:red">*</a></label>
                           <input required type="Password" id="inputPassword" value="{{password::input}}"
                              class="form-control" placeholder="Contraseña" required>

                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase"
                           on-click="createUser">Registrar</button>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>




   </template>


   <script src="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.js"></script>
   <link rel="stylesheet" href="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.css">

   <script>
      /**
       * @customElement
       * @polymer
       */
      class CreateAccountApp extends Polymer.Element {
         static get is() { return 'createaccount-app'; }
         static get properties() {
            return {
               phone: {
                  type: String
               },
               password: {
                  type: String
               },
               apellidoPaterno: {
                  type: String
               },
               apellidoMaterno: {
                  type: String
               },
               nombre: {
                  type: String
               },
               fechaNacimiento: {
                  type: String
               },
               sexo: {
                  type: String
               },
               estadoCivil: {
                  type: String
               },
               docuemtoDeIdentificacion: {
                  type: String
               },
               documentoDeIdentificacionId: {
                  type: String
               },
               fechaDeExpiracionDeDocumento: {
                  type: String
               },
               rfc: {
                  type: String
               },
               curp: {
                  type: String
               },
               correoElectronico: {
                  type: String
               },
               calle: {
                  type: String
               },
               colonia: {
                  type: String
               },
               numeroExterno: {
                  type: String
               },
               numeroInterno: {
                  type: String
               },
               municipio: {
                  type: String
               },
               estado: {
                  type: String
               },
               cp: {
                  type: String
               },
               pais: {
                  type: String
               },

               logado: {
                  type: Boolean,
                  value: false
               },
               route: {
                  type: Object
               }
            };
         }



         validatefields() {

            if (
               this.apellidoPaterno == null ||
               this.apellidoMaterno == null ||
               this.nombre == null ||
               this.curp == null ||
               this.fechaNacimiento == null ||
               this.correoElectronico == null ||
               this.calle == null ||
               this.colonia == null ||
               this.numeroExterno == null ||
               this.phone == null ||
               this.password == null) {
               return false
            }
            else { return true }







         }

         

         createUser() {

            if (this.validatefields()) {

               var requestvalidacion = new XMLHttpRequest();
               //requestvalidacion.open("get", "http://13.59.199.173:3009/validateuser", false);-->
               requestvalidacion.open("get", "http://13.59.199.173:3009/validateuser", false);

               requestvalidacion.setRequestHeader("Accept", "application/json");
               requestvalidacion.setRequestHeader("Content-Type", "application/json");
               requestvalidacion.setRequestHeader("telefono", this.phone);
               requestvalidacion.send();

               var mensaje = JSON.parse(requestvalidacion.response)

               if (!mensaje.message.includes("ERROR")) {

                  var datetime = new Date();

                  var numerodecuenta = makeid(8, 2)

                  console.log("****Llega al metodo logar****");
                  var request = new XMLHttpRequest();
                  //request.open("POST", "http://13.59.199.173:3009/createuser", false);
                  request.open("POST", "http://13.59.199.173:3009/createuser", false);

                  request.setRequestHeader("Accept", "application/json");
                  request.setRequestHeader("Content-Type", "application/json");
                  request.setRequestHeader("user", this.phone);
                  request.setRequestHeader("password", this.password);

                  var params = {
                     "tel_numero": this.phone,
                     "fecha_creacion": datetime,
                  }

                  console.log("****Hace el post****");
                  request.send(JSON.stringify(params));
                  this.respuesta = request.responseText;
                  console.log("****Pasa a la respuesta****");
                  console.log(this.respuesta);


                  /*############ DATOS PERSONALES #############*/

                  var clienteId = makeid(8, 1);
                  var datosPersonales = {
                     "_id": clienteId,
                     "persona": {
                        "apellido_paterno": this.apellidoPaterno,
                        "apellido_materno": this.apellidoMaterno,
                        "nombre": this.nombre,
                        "fecha_de_nacimiento": this.fechaNacimiento,
                        "nombre_concatenado": this.nombre + " " + this.apellidoPaterno + " " + this.apellidoMaterno,
                        "tel_numero": this.phone,
                        "correo_electronico": this.correoElectronico,
                        "rfc": this.rfc,
                        "curp": this.curp
                     },
                     "direccionLegal": {
                        "calle": this.calle,
                        "colonia": this.colonia,
                        "nu_Ext": this.numeroExterno,
                        "nu_Int": this.numeroInterno,
                        "poblaci": this.municipio,
                        "estado": this.estado,
                        "cod_post": this.cp,
                        "cod_pais": this.pais,
                        "fecha_docact": datetime,
                        "fecha_pe": datetime,
                        "direccion_concatenada": this.calle + " " + this.numeroExterno + " " + this.numeroInterno + " " + this.municipio + " " + this.estado
                     },
                     "contract": [
                        {
                           "accountIndex_long": makeid(18, 2),
                           "numecta": numerodecuenta,
                           "fealrela": "2008-09-12",
                           "openingDate": "0001-01-01",
                           "cancelationDate": "0001-01-01"
                        }
                     ]
                  }


                  var requestClient = new XMLHttpRequest();
                 // requestClient.open("POST", "http://13.59.199.173:3009/createClient", false);
                  requestClient.open("POST", "http://13.59.199.173:3009/createClient", false);
                  
                  requestClient.setRequestHeader("Accept", "application/json");
                  requestClient.setRequestHeader("Content-Type", "application/json");
                  requestClient.setRequestHeader("user", this.phone);
                  requestClient.setRequestHeader("password", this.password);


                  console.log("****Hace el post****");
                  requestClient.send(JSON.stringify(datosPersonales));
                  // this.respuesta=request.responseText;
                  console.log("****Pasa a la respuesta****");

                  /*############ DATOS DE CUENTA #############*/

                  var datosCuenta = {
                     "_id": clienteId,
                     "clabe_number": makeid(18, 2),
                     "account_number": numerodecuenta,
                     "bank_code": "032",
                     "money": 0,
                     "bank_name": "BIPBANK",
                     "alias": "Cuenta principal",
                     "holder_name": this.nombre + " " + this.apellidoPaterno + " " + this.apellidoMaterno,
                     "creation_date": datetime

                  }

                  var requestAccount = new XMLHttpRequest();
               //requestAccount.open("POST", "http://13.59.199.173:3009/createAccount", false);
                  requestAccount.open("POST", "http://13.59.199.173:3009/createAccount", false);

                  requestAccount.setRequestHeader("Accept", "application/json");
                  requestAccount.setRequestHeader("Content-Type", "application/json");


                  console.log("****Hace el post****");
                  requestAccount.send(JSON.stringify(datosCuenta));
                  // this.respuesta=request.responseText;
                  console.log("****Pasa a la respuesta****");

                  //   swal("¡FELICIDADES!", "Bienvienido " + this.nombre + ", gracias por ser parte de WSB.", "success",  "showCancelButton: false","showConfirmButton: false")

                  swal({
                     title: '¡FELICIDADES!',
                     text: "Bienvienido " + this.nombre + ", gracias por ser parte de WSB.",
                     type: 'success',
                     showCancelButton: false,
                     showConfirmButton: false
                  })


                  setTimeout(function () {
                     window.location.reload(1);
                  }, 5000);
               }
               else {
                  swal("Vaya, esto no me lo esperaba", "Al parecer estas tratando de registrar un teléfono que ya esta dado de alta, verifica e intenta de nuevo.", "warning")
               }
            }
            else {
               swal("ooohh Geez!", "Faltan datos en el formulario amigo, verifica e intenta nuevamente.", "warning")
            }








         }










         mostrarError() {
            console.log(error);
            this.logado = false;
         }


      }

      window.customElements.define(CreateAccountApp.is, CreateAccountApp);
   </script>

   <script>

      function makeid(length, type) {
         var result = '';
         var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
         var charactersAccount = '123456789';
         var charactersLength = characters.length;

         if (type == 1) {
            for (var i = 0; i < length; i++) {
               result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
         }
         else {
            for (var i = 0; i < length; i++) {
               result += charactersAccount.charAt(Math.floor(Math.random() * charactersAccount.length));
            }
         }

         return result;
      }

      function getSexo() {
         var value = document.querySelector('input[name="sexo"]:checked').value;
         console.log(value);

      }


   </script>




</dom-module>